.project-card {
  display: grid;
  align-items: space-evenly;
  padding-block: var(--size-9);
  padding-inline: var(--padding-x);
  gap: var(--size-4);
}

.project-card:not(:last-child) {
  /* border-bottom: var(--dashed-border); */
}

.project-card .description {
  display: grid;
  height: 100%;
  gap: var(--size-6);
  align-items: space-between;
  & h2 {
    text-align: center;
  }
  & em {
    text-align: right;
  }
  & a {
    background-color: transparent;
    cursor: pointer;
    display: grid;
    place-items: center;
    height: 2.5rem;
  }
}

.project-card img {
  margin: auto;
  height: 60vh;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition:clip-path .3s .4s ease-in;
}

.not-visible.project-card{
  & img{
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
}


/*

    from{
    }
    to{
    }
*/

@media (min-width: 68em) {
  .project-card {
    grid-template-columns: 4fr 3fr;
    text-align: left;
  }

  .project-card .description {
    & h2,
    & em {
      text-align: inherit;
    }
    & a {
      justify-items: flex-start;
      &:where(:hover,:focus-within){
        animation:bounce-right .3s;
      }
    }
  }

  .project-card:nth-child(2n) {
    grid-template-columns: 3fr 4fr;
    & .description {
      grid-row: 1;
      text-align: right;
    }
    & img {
      grid-column: -2;
    }

    & a {
      justify-items: flex-end;
    }
  }

}
