.project-card {
  display: grid;
  align-items: space-evenly;
  padding-block: var(--size-9);
  margin: auto;
  width: var(--size-fluid-1);
  gap: var(--size-4);
  text-decoration: none;
  color: var(--clr-primary-9);
  margin-block: var(--size-6);
}

:where(.project-card) .description {
  display: grid;
  height: 100%;
  gap: var(--size-6);
  align-items: space-between;
  & h2 {
    line-height: 1;
    text-align: center;
    /* overflow: hidden; */
  }
  & h2 .letters {
    position: relative;
    display: inline-block;
    padding-bottom: var(--size-2);
  }

  & h2 .letter {
    position: relative;
    transition: transform 0.2s ease-out;
    transition-delay: calc(0.1s + 0.02s * var(--n-letter));
    transform: scaleY(1) translateY(0%);
  }
  & em {
    text-align: right;
  }
  & :where(p, em) {
    opacity: 1;
    transition: opacity 0.4s 0.2s ease-out;
  }
  & svg {
    margin: auto;
    height: 2.5rem;
  }
}

.project-card img {
  margin: auto;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.5s var(--ease-out), transform 0.2s ease-in;
}

.project-card {
  & .not-visible img {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  & .not-visible h2 .letter {
    transform: scaleY(0) translateY(-100%);
  }
  & .not-visible :where(p, em) {
    opacity: 0;
  }
}

.project-card:where(:hover, :focus-within) {
  & img {
    animation: bounce-top 0.3s;
  }
  & svg {
    transform: translateX(var(--size-2));
  }
  /* & h2 .letters::after {
    transform: scaleX(1);
    opacity: 1;
  } */
}

@media (min-width: 68em) {
  .project-card {
    grid-template-columns: 4fr 3fr;
    text-align: left;
    & img {
      height: 60vh;
      object-fit: cover;
    }
  }

  .project-card .description {
    & h2,
    & em {
      text-align: inherit;
    }
    & svg {
      margin: 0;
      transition: transform 0.2s ease-in;
    }
  }
  .project-card:nth-of-type(2n) {
    grid-template-columns: 3fr 4fr;
    & .description {
      grid-row: 1;
      text-align: right;
    }
    & picture {
      grid-column: -2;
    }

    & svg {
      justify-self: flex-end;
    }
  }
}
