<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sarah Penanhoat | {{title}}</title>
</head>
<body>
	<header>
		<div class="header-wrapper">
			<h1>
				<a href="{{base}}/" ariane-router>
					@!component('components/letters',{
						text:"Sarah Penanhoat"
					})
				</a>
			</h1>
			<nav>
				<ul class="nav" style="--curent-item: {{title==="infos" ? 2 : 0}};">
					<li><a href="{{base}}/" class="nav-item" ariane-router>Projets</a></li>
					<li><button class="nav-item" id="actuBtn">Actualités</button></li>
					<li><a href="{{base}}/infos/" class="nav-item" ariane-router>Infos</a></li>
				</ul>
			</nav>
		</div>
	</header>
		@!section('content')
		<dialog id="actuWindow" class="actus" aria-label="close">
			<div class="wrapper">
				<button class="close-btn" id="close-actus">X</button>
				<h2>Actualités</h2>
				<em>du 16-02-2023 au 28-03-2023</em>
				<picture>
					<img src="/images/crocos-thumbnail.jpg" alt="">
				</picture>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nostrum corporis eligendi labore voluptate quaerat commodi quo, odit obcaecati. Ipsum dolor soluta dolorem! Repellat aut quaerat beatae dolorum accusantium veritatis.</p>
			</div>
		</dialog>
    <script type="module" src="/src/scripts/index.ts"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", user => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script>
</body>
</html>