<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Sarah Penanhoat vit et travaille là ou il y a de la terre, des stylos et une licence IV.">
	<title>Sarah Penanhoat | {{title}}</title>
</head>
<body>
	<header>
		<div class="header-wrapper">
			<h1>
				<a href="{{base}}/" ariane-router>
					@!component('components/letters',{
						text:"Sarah Penanhoat"
					})
				</a>
			</h1>
			<nav>
				<ul class="nav" style="--curent-item: {{title==="infos" ? (actus.frontmatter.activ ? 2 : 1) : 0}};">
					<li><a href="{{base}}/" class="nav-item" ariane-router>Projets</a></li>
					@if(actus.frontmatter.activ)
						<li><button class="nav-item" id="actuBtn">Actualités</button></li>
					@end
					<li><a href="{{base}}/infos/" class="nav-item" ariane-router>Infos</a></li>
				</ul>
			</nav>
		</div>
	</header>
		@!section('content')
		<dialog id="actuWindow" class="actus" aria-label="close">
			<div class="wrapper">
				<button class="close-btn" id="close-actus">X</button>
				<h2>Actualités</h2>
				<em>{{actus.frontmatter.legende}}</em>
				<picture >
					<source srcset="{{image(actus.frontmatter.thumbnail,{format:'webp'},devmode)}}" alt="">
					<img src="{{image(actus.frontmatter.thumbnail,{format:'jpeg'},devmode)}}" alt="">
				</picture>
				<div class="md-content">
					{{{actus.content}}}
				</div>
			</div>
		</dialog>
    <script type="module" src="/src/scripts/index.ts"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", user => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script>
</body>
</html>