@layout('layouts/base')

@section('content')
<main class="infos">
	<picture>
		<img src="{{frontmatter.thumbnail}}" alt="" class="cover">
	</picture>
	<div class="md-content">
		{{{content}}}
	</div>
</main>
@end