@layout('layouts/base')

@section('content')
<main class="infos">
	<picture>
		<source srcset="{{image(frontmatter.thumbnail,{format:'webp'},devmode)}}" alt="">
		<img src="{{image(frontmatter.thumbnail,{format:'jpeg'},devmode)}}" alt="">
	</picture>
	<div class="md-content">
		{{{content}}}
	</div>
</main>
@end