@keyframes pulse {
  50% {
    transform: scale(0.9);
  }
}

@keyframes bounce-right {
  50% {
    transform: translateX(1rem);
  }
}

@keyframes bounce-top {
  50% {
    transform: translateY(-1rem);
  }
}

@keyframes shake-y {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
